body {
  padding-left: 25px;
}

.wrapper {
  display: flex;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
}
#content {
  min-width: 750px;
  max-width: 750px;
}

.container {
  margin-left: 5px;
}

/* stuff for D3 */

path {
  stroke-width: 2;
  fill: none;
}

.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.area {
  fill: #F0F8FF;
  stroke-width: 0;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}
