{% extends "base.html" %}

{% block app_content %}

<div>{{ form.year.data }} {{ monthName }}</div>
<div id="chart">
  <form action='/process-form' method='post'>
    {{ form.hidden_tag() }}
    <table><tr>
      <td valign="top">
        <table>
          <tr><th style="padding: 10px;">Day</th><th style="padding: 10px;">Morning</th><th style="padding: 10px;">Evening</th></tr>
            {% for n in range(1, 16) %}
              <tr>
                <td>{{n}}</td>
                <td>{% for field in form %}{% if field.name == 'morning' + n|string %}{{ field(size="5") }}{% endif %}{% endfor %}</td>
                <td>{% for field in form %}{% if field.name == 'evening' + n|string %}{{ field(size="5") }}{% endif %}{% endfor %}</td>
              </tr>
            {% endfor %}
        </table>
      </td>
      <td style="padding: 25px;"></td>
      <td valign="top">
        <table>
          <tr><th style="padding: 10px;">Day</th><th style="padding: 10px;">Morning</th><th style="padding: 10px;">Evening</th></tr>
            {% for n in range(17, daysInMonth+1) %}
              <tr>
                <td>{{n}}</td>
                <td>{% for field in form %}{% if field.name == 'morning' + n|string %}{{ field(size="5") }}{% endif %}{% endfor %}</td>
                <td>{% for field in form %}{% if field.name == 'evening' + n|string %}{{ field(size="5") }}{% endif %}{% endfor %}</td>
              </tr>
            {% endfor %}
        </table>
      </td>
    </tr></table>
    <div style="padding-top: 10px;">{{ form.submit() }}</div>
  </form>
</div>

{% endblock %}
