{% extends "base.html" %}

{% block app_content %}
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
var mData = [];
var eData = [];
var mTarget = [];
var eTarget = [];
{% for n in range(1, daysInMonth+1) %}
mData.push({"sugar": "{% for field in form %}{% if field.name == 'morning' + n|string %}{{ field.data if field.data }}{% endif %}{% endfor %}","day": "{{n}}"});
eData.push({"sugar": "{% for field in form %}{% if field.name == 'evening' + n|string %}{{ field.data if field.data }}{% endif %}{% endfor %}","day": "{{n}}"});
mTarget.push({"sugar": "100","day": "{{n}}"});
eTarget.push({"sugar": "140","day": "{{n}}"});
{% endfor %}
</script>

<svg id="visualisation" width="500" height="250"></svg>

<script>
var vis = d3.select("#visualisation"),
    WIDTH = 500,
    HEIGHT = 250,
    MARGINS = {
        top: 20,
        right: 20,
        bottom: 20,
        left: 50
    },
    xScale = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([1,{{form.daysInMonth.data}}]),
    yScale = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([{{minimum}},{{maximum}}]),
    xAxis = d3.svg.axis().scale(xScale),
    yAxis = d3.svg.axis().scale(yScale).orient("left");

    vis.append("svg:g")
        .attr("class","axis")
        .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
        .call(xAxis);

    vis.append("svg:g")
        .attr("class","axis")
        .attr("transform", "translate(" + (MARGINS.left) + ",0)")
        .call(yAxis);

    var sugarLineGen = d3.svg.line()
      .defined(function(d) { return d.sugar != 0; })
      .x(function(d) {
        return xScale(d.day);
      })
      .y(function(d) {
        return yScale(d.sugar);
      });

    vis.append('svg:path')
      .attr('d', sugarLineGen(mData))
      .attr('stroke', 'green')
      .attr('stroke-width', 2)
      .attr('fill', 'none');

    vis.append('svg:path')
      .attr('d', sugarLineGen(eData))
      .attr('stroke', 'red')
      .attr('stroke-width', 2)
      .attr('fill', 'none');

    vis.append('svg:path')
      .attr('d', sugarLineGen(mTarget))
      .attr('stroke', 'black')
      .attr('stroke-width', 1)
      .attr('fill', 'none');

    vis.append('svg:path')
      .attr('d', sugarLineGen(eTarget))
      .attr('stroke', 'black')
      .attr('stroke-width', 1)
      .attr('fill', 'none');
</script>

<div>{{ form.year.data }} {{ monthName }}</div>
<div id="chart">
  <form action='/process-form' method='post'>
    {{ form.hidden_tag() }}
    <table><tr>
      <td valign="top">
        <table>
          <tr><th style="padding: 10px;">Day</th><th style="padding: 10px;">Morning</th><th style="padding: 10px;">Evening</th></tr>
            {% for n in range(1, 16) %}
              <tr>
                <td>{{n}}</td>
                <td>{% for field in form %}{% if field.name == 'morning' + n|string %}{{ field(size="5") }}{% endif %}{% endfor %}</td>
                <td>{% for field in form %}{% if field.name == 'evening' + n|string %}{{ field(size="5") }}{% endif %}{% endfor %}</td>
              </tr>
            {% endfor %}
        </table>
      </td>
      <td style="padding: 25px;"></td>
      <td valign="top">
        <table>
          <tr><th style="padding: 10px;">Day</th><th style="padding: 10px;">Morning</th><th style="padding: 10px;">Evening</th></tr>
            {% for n in range(17, daysInMonth+1) %}
              <tr>
                <td>{{n}}</td>
                <td>{% for field in form %}{% if field.name == 'morning' + n|string %}{{ field(size="5") }}{% endif %}{% endfor %}</td>
                <td>{% for field in form %}{% if field.name == 'evening' + n|string %}{{ field(size="5") }}{% endif %}{% endfor %}</td>
              </tr>
            {% endfor %}
        </table>
      </td>
    </tr></table>
    <div style="padding-top: 10px;">{{ form.submit() }}</div>
  </form>
</div>

{% endblock %}
